.vs/
Debug/
CChromaEditor.vcxproj.user
CChromaEditor.VC.db
ipch/
CChromaEditorLibrary/CChromaEditorLibrary.vcxproj.user
CChromaEditor.VC.VC.opendb
CChromaEditorLibrary/Release/
CChromaEditorLibrary/x64/
x64/
Release/
Output/
CConsoleEditor/CConsoleEditor.vcxproj.user
